body {
    font-family: 'Georgia', serif;
    background-position: right 3em top 65px;
    background-size: 100px 150px;
    background-repeat: no-repeat;
}

.navbar {
    border-radius: 0;
    font-size: 18px;
}

.navbar-brand {
    font-family: 'Georgia', serif;
}

.container {
    font-family: 'Georgia', serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}