{% extends 'web_med/base.html' %} {% load staticfiles %} {% block title %}AMI Processing{% endblock %} {% block javascript %}
<script src="{% static 'web_med/js/dialogPolyfill.js' %}"></script>

{% endblock %} {% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'web_med/dialogPolyfill.css' %}" />

<script type="text/javascript" src="http://get.goXTK.com/xtk.js"></script>

<!-- /////////////////////////// Script /////////////////////////// -->

<script>
    window.onload = function() {

        var _dicom = {{dicom_list|safe}};

        // create a new test_renderer
        var r = new X.renderer3D();
        r.init();

        // we create the X.volume container and attach all DICOM files
        var v = new X.volume();

        // map the data url to each of the slices
        v.file = _dicom.sort().map(function(v) {
            return v;
        });

        // add the volume
        r.add(v);
        r.camera.position = [-150, -50, 500];
        r.camera.up = [0, -1, 0];
        r.render();

        r.onShowtime = function() {

            // activate volume rendering
            v.volumeRendering = true;
            v.lowerThreshold = 80;
            v.windowLower = 115;
            v.windowHigh = 360;
            v.minColor = [0, 0.06666666666666667, 1];
            v.maxColor = [0.5843137254901961, 1, 0];
            v.opacity = 0.2;

        };

        volume = v;

    };
</script>

<style>
    html,
    body {
        background-color: #000;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden !important;
    }
</style>
{% endblock %}
